/* header */

body{
	a{
		color:darken(white, 40);
		text-decoration: none;
		&:hover{
			color:$highlight;
		}
		&.btn{
			display: block;
			width:100px;
			margin:10px 0;
			padding:8px 30px;
			border-radius: 5px;
			border:1px solid silver;
			&:hover{
				border:1px solid $highlight;
				background:$highlight;
				color:white;
			}
		}
	}
}
.font_sans{
	font-family: "Helvetica Neue", Arial, Sans-serif;
}

.font_serif{
	font-family: Georgia, Serif;
}

.dark{
	background-color: #EBEBEB;
}

#tarzan{

	color:#a8a8a8;
	font-size:13px;
	line-height: 20px;
	background: #555;
	a{
		display: block;
		float: left;
		letter-spacing: 1px;
		color:white;
		text-decoration:none;
		&:hover{
			text-decoration:underline;
		}
	}
	img{
		float: left;
		margin-right:7px;
	}
}

#slogan {
		color: darken(white,40);
		background: #F5F5F5;
		padding: 7px 20px;
		border-bottom: 1px solid #D8D8D8;
		height:26px;
		h4 {
			float:left;
			line-height: 24px;
			font-size: 14px;
		}
		ul{
			float:right;
			li{
				margin-top:3px;
				float:left;
				vertical-align: middle;
				margin-left: 8px;
				i{
					color:darken(white,30);
					font-size: 22px;
					&:hover{
						color:darken(white,50);
					}
				}
				input{
					margin-top:0;
					padding:2px;
					width:220px;
				}
			}
		}
}

/* Slideshow */

$border-color: lighten(black, 50);
#slideshow{
	float: left;
	position:relative;
	height: 347px; // effectively 349 with borders
	width: 824px; // effectively 825 with borders
	border-top: 1px solid $border-color;
	border-right: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	padding:0;
	margin:0;
}
div.slide{
	z-index:0;
	position:absolute;
	top:0;
	left:0;
}

#feat1{
	float: right;
	height: 173px; // effectively 175 with borders
	width: 173px; // unchanged
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}

#feat2{
	float: right;
	height: 173px; //effectively 174 with border
	width: 173px; //unchanged
	border-bottom: 1px solid $border-color;
}

/* Explore our collection */

.collection-feature{
	&:hover{
		.intermodal{
			display:block;
		}
	}
	.intermodal{
		text-transform: uppercase;
		display:none;
		text-align: center;
		background:rgba(0,0,0,.6);
		color:white;
		padding:65px 30px;
		width:115px;
		height:45px;
		position:absolute;
		top:0;
		left:0;
	}
}

#brand-logos{
	img{
		opacity:.3;
		&:hover{
			opacity:.7;
		}
	}
}

/* Products Grid */
a{
	li{
		&.square_box {
			//width : 1+1+16+165+5
			border: 1px solid #bcbcbc;
			float: left;
			text-align: center;
			width: 167px;
			height: 230px;
			display: block;
			position: relative;
			padding: 5px;
			margin-bottom: 15px;
			margin-left: 0px;
			margin-right: 15px;
			&.last{
				margin-right: 0px;
				margin-left: 1px;
			}
			&:hover{
				border: 1px solid $highlight;
				h4{
					color:$highlight;
				}
			}
		}
		h4{
			color:lighten(black,30);
		}
	}
}

h2.sectionhead{
	margin-bottom:10px;
	font-size: 1.1em;
}



#footer{
	border-top:1px solid darken(white,20);
	.inner-row{
		margin-top:10px;
		font-size:0.8em;
		line-height:1.5em;
		overflow: auto;
		$footercolor: lighten(black, 50);
		color: $footercolor;
		.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
			float:left;
			height:145px;
			border-right:1px solid lighten($footercolor,20);
			margin-right:2%;
			padding-right:2%;
		}

		hr{
			margin-top:15px;
			margin-bottom:15px;
		}
		.warning{
			background: darken(white,12);
			padding:6px 9px;
			border-radius: 5px;
			border: dotted 1px darken(white,22);
			margin-top:10px;

		}
		li{
			margin:5px 0;
		}
		div.floater{
			img{
				float:left;
			}
			p{
				width:200px;
				float:left;
				margin-left: 10px;
			}
			overflow: auto;
			margin-bottom:10px;
		}
		.footer-col-1{
			width: 30%;
		}
		.footer-col-2{
			width:14%;
		}
		.footer-col-3{
			width:14%;
		}
		.footer-col-4{
			width:26%;
			margin-right:0;
			padding-right:0;
			border-right:none;
		}
	}
}

/* Breadcrumbs */
#breadcrumbs{
	background: #F7F7F7;
	margin-bottom:20px;
	border-top: 1px dotted darken(white, 20);
	border-bottom: 1px dotted darken(white, 20);

	hr{
		margin:0;
	}
	a{
		color: black;
		font-weight: bold;
		text-decoration: none;
	}
}

/* Products */

h2.productname{
	padding:5px;
	color:white;
	background: lighten(black, 30);
}

h3.variant-name{
	font-size: 1.1em;
	padding:5px 0;
	color:$highlight;
}

h4.productname{
	font-size: 1em;
}

.product-pic{
	width: 520px;
	float:left;
	min-height: 350px;
	position:relative;
	img{
		max-width: 100%;
		max-height: 320px;
		position:absolute;
		top:30px;
	}

}

.product-details{
	h2{
		font-size: 1.2em;
	}
	min-height: 350px;
	width:379px;
	border-left: 1px solid darken(white, 15);
	padding-left: 20px;
	margin-left:20px;
	float:left;
	.thumbs{
		img{
			max-width: 90px;
		}
	}
	p{
		color: lighten(black, 50);
		margin: 10px 0;
		line-height: 1.5em;
		font-size: 0.85em;
	}
}

.poster-sidebar{
	width:265px;
	float: left;
}

.list-items{
	width:695px;
	float:left;
	ul{
		padding: 0 20px;
		li{
			//cursor:pointer;
			margin-top:10px;
			padding-bottom:10px;
			padding-left:20px;
			border-left: 1px dotted darken(white, 20);
			border-bottom: 1px dotted darken(white, 20);
			overflow: auto;
			&:hover{
				padding-left:16px;
				border-left:5px solid $highlight;
				h4 a{
					color:$highlight;
				}
			}
			h4{
				margin-top:10px;
				margin-bottom: 10px;
				a{
					color:darken(white, 40);
					text-decoration: none;
				}
			}
			p{
				width:350px;
				line-height: 1.4em;
			}
			img{
				float: right;
			}
		}
	}
}

/* Pages */

.outer-row{
	&.heading{
		border-top: 1px solid darken(white, 20);
		border-bottom: 1px solid darken(white, 20);
	}
}

.aside{
	width:285px;
	margin-right:30px;
	float:left;
	&.wide{
		width:675px;
		margin-right:15px;
	}
}
.content{
	width:615px;
	margin:0;
	margin-right:30px;
	padding:0;
	float:left;
	&.narrow{
		width:270px;
		margin-right:0;
	}
	p{
		line-height: 1.4em;
		font-size: 0.9em;
		margin:10px 0;
	}
	h3{
		margin:15px 0;
		padding-bottom:5px;
		border-bottom: 1px solid darken(white,20);
		&:first-child{
			margin-top:0;
		}
	}
	table{
		width:100%;
		padding:0;
		margin:0;
		tr{
			width:100%;
			&:first-child{
				border-bottom:1px solid white;
			}
		}
		td{
			padding:5px;
			font-size:0.9em;
			background: darken(white, 5);

		}
	}
}
iframe{
	background: darken(white,5);
	margin-bottom:20px;
	border-bottom:1px solid darken(white,20);
}

.emailform{
	input{
		margin:0;
		padding:5px 3px;
		width:40%;
		margin-bottom:5px;

	}
	textarea{
		width:100%;
	}
}

