/* Typography css goes here */
body{
	font-family:'Helvetica Neue', Sans-serif;
}

h1{
	font-size: 2em;
}
h2{
	font-size: 1.6em;
}
h3{
	font-size: 1.4em;
}
h3.leadtext{
	font-size: 1.2em;
	line-height: 1.5em;
}
h4{
	font-size: 1.2em;
}

small{
	font-size: 0.6em;
}

.gfont1{
	font-family: 'Playfair Display', serif;
}

.stress {
	font-style: italic;
	color: darken(white,30);
}
