/* This is the file where all the variables will be */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

strong {
  font-weight: bold; }

/* Typography css goes here */
body {
  font-family: 'Helvetica Neue', Sans-serif; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h3.leadtext {
  font-size: 1.2em;
  line-height: 1.5em; }

h4 {
  font-size: 1.2em; }

small {
  font-size: 0.6em; }

.gfont1 {
  font-family: 'Playfair Display', serif; }

.stress {
  font-style: italic;
  color: #b3b3b3; }

/* Layout css goes here */
body {
  background-color: #d9d9d9; }

#tarzan {
  width: 100%;
  min-width: 1000px;
  margin: 0;
  padding: 8px 20px;
  background-color: #999; }

.paper {
  width: 998px;
  border: 1px solid #cccccc;
  background-color: white;
  margin: 20px auto; }

/* Always use both outer and inner row for each row. Outer row allows us to do things that extend to the margins
Inner Row is the basis of the grid */
.outer-row {
  margin: 0;
  padding: 0;
  clear: both; }

.inner-row {
  position: relative;
  width: 960px;
  padding: 8px 0;
  margin: 0 auto;
  overflow: auto; }

.breath {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px; }

/* The Grid */
.half {
  float: left;
  width: 472.5px;
  margin-right: 15px; }
  .half img {
    max-width: 100%;
    height: auto; }

.third {
  float: left;
  width: 310px;
  margin-right: 15px; }
  .third img {
    max-width: 100%;
    height: auto; }

.fourth {
  float: left;
  width: 228.75px;
  margin-right: 15px; }
  .fourth img {
    max-width: 100%;
    height: auto; }

.fifth {
  position: relative;
  float: left;
  width: 180px;
  margin-right: 15px; }
  .fifth img {
    max-width: 100%;
    height: auto; }

/* Just to stack things horizontally with a right margin */
.hstack {
  float: left;
  margin-right: 15px; }
  .hstack img {
    max-width: 100%;
    height: auto; }

.last {
  margin-right: 0; }

/* header */
body a {
  color: #999999;
  text-decoration: none; }
  body a:hover {
    color: #f77211; }
  body a.btn {
    display: block;
    width: 100px;
    margin: 10px 0;
    padding: 8px 30px;
    border-radius: 5px;
    border: 1px solid silver; }
    body a.btn:hover {
      border: 1px solid #f77211;
      background: #f77211;
      color: white; }

.font_sans {
  font-family: "Helvetica Neue", Arial, Sans-serif; }

.font_serif {
  font-family: Georgia, Serif; }

.dark {
  background-color: #EBEBEB; }

#tarzan {
  color: #a8a8a8;
  font-size: 13px;
  line-height: 20px;
  background: #555; }
  #tarzan a {
    display: block;
    float: left;
    letter-spacing: 1px;
    color: white;
    text-decoration: none; }
    #tarzan a:hover {
      text-decoration: underline; }
  #tarzan img {
    float: left;
    margin-right: 7px; }

#slogan {
  color: #999999;
  background: #F5F5F5;
  padding: 7px 20px;
  border-bottom: 1px solid #D8D8D8;
  height: 26px; }
  #slogan h4 {
    float: left;
    line-height: 24px;
    font-size: 14px; }
  #slogan ul {
    float: right; }
    #slogan ul li {
      margin-top: 3px;
      float: left;
      vertical-align: middle;
      margin-left: 8px; }
      #slogan ul li i {
        color: #b3b3b3;
        font-size: 22px; }
        #slogan ul li i:hover {
          color: gray; }
      #slogan ul li input {
        margin-top: 0;
        padding: 2px;
        width: 220px; }

/* Slideshow */
#slideshow {
  float: left;
  position: relative;
  height: 347px;
  width: 824px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 0;
  margin: 0; }

div.slide {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0; }

#feat1 {
  float: right;
  height: 173px;
  width: 173px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray; }

#feat2 {
  float: right;
  height: 173px;
  width: 173px;
  border-bottom: 1px solid gray; }

/* Explore our collection */
.collection-feature:hover .intermodal {
  display: block; }
.collection-feature .intermodal {
  text-transform: uppercase;
  display: none;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 65px 30px;
  width: 115px;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0; }

#brand-logos img {
  opacity: .3; }
  #brand-logos img:hover {
    opacity: .7; }

/* Products Grid */
a li.square_box {
  border: 1px solid #bcbcbc;
  float: left;
  text-align: center;
  width: 167px;
  height: 230px;
  display: block;
  position: relative;
  padding: 5px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 15px; }
  a li.square_box.last {
    margin-right: 0px;
    margin-left: 1px; }
  a li.square_box:hover {
    border: 1px solid #f77211; }
    a li.square_box:hover h4 {
      color: #f77211; }
a li h4 {
  color: #4d4d4d; }

h2.sectionhead {
  margin-bottom: 10px;
  font-size: 1.1em; }

#footer {
  border-top: 1px solid #cccccc; }
  #footer .inner-row {
    margin-top: 10px;
    font-size: 0.8em;
    line-height: 1.5em;
    overflow: auto;
    color: gray; }
    #footer .inner-row .footer-col-1, #footer .inner-row .footer-col-2, #footer .inner-row .footer-col-3, #footer .inner-row .footer-col-4 {
      float: left;
      height: 145px;
      border-right: 1px solid #b3b3b3;
      margin-right: 2%;
      padding-right: 2%; }
    #footer .inner-row hr {
      margin-top: 15px;
      margin-bottom: 15px; }
    #footer .inner-row .warning {
      background: #e0e0e0;
      padding: 6px 9px;
      border-radius: 5px;
      border: dotted 1px #c7c7c7;
      margin-top: 10px; }
    #footer .inner-row li {
      margin: 5px 0; }
    #footer .inner-row div.floater {
      overflow: auto;
      margin-bottom: 10px; }
      #footer .inner-row div.floater img {
        float: left; }
      #footer .inner-row div.floater p {
        width: 200px;
        float: left;
        margin-left: 10px; }
    #footer .inner-row .footer-col-1 {
      width: 30%; }
    #footer .inner-row .footer-col-2 {
      width: 14%; }
    #footer .inner-row .footer-col-3 {
      width: 14%; }
    #footer .inner-row .footer-col-4 {
      width: 26%;
      margin-right: 0;
      padding-right: 0;
      border-right: none; }

/* Breadcrumbs */
#breadcrumbs {
  background: #F7F7F7;
  margin-bottom: 20px;
  border-top: 1px dotted #cccccc;
  border-bottom: 1px dotted #cccccc; }
  #breadcrumbs hr {
    margin: 0; }
  #breadcrumbs a {
    color: black;
    font-weight: bold;
    text-decoration: none; }

/* Products */
h2.productname {
  padding: 5px;
  color: white;
  background: #4d4d4d; }

h3.variant-name {
  font-size: 1.1em;
  padding: 5px 0;
  color: #f77211; }

h4.productname {
  font-size: 1em; }

.product-pic {
  width: 520px;
  float: left;
  min-height: 350px;
  position: relative; }
  .product-pic img {
    max-width: 100%;
    max-height: 320px;
    position: absolute;
    top: 30px; }

.product-details {
  min-height: 350px;
  width: 379px;
  border-left: 1px solid #d9d9d9;
  padding-left: 20px;
  margin-left: 20px;
  float: left; }
  .product-details h2 {
    font-size: 1.2em; }
  .product-details .thumbs img {
    max-width: 90px; }
  .product-details p {
    color: gray;
    margin: 10px 0;
    line-height: 1.5em;
    font-size: 0.85em; }

.poster-sidebar {
  width: 265px;
  float: left; }

.list-items {
  width: 695px;
  float: left; }
  .list-items ul {
    padding: 0 20px; }
    .list-items ul li {
      margin-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      border-left: 1px dotted #cccccc;
      border-bottom: 1px dotted #cccccc;
      overflow: auto; }
      .list-items ul li:hover {
        padding-left: 16px;
        border-left: 5px solid #f77211; }
        .list-items ul li:hover h4 a {
          color: #f77211; }
      .list-items ul li h4 {
        margin-top: 10px;
        margin-bottom: 10px; }
        .list-items ul li h4 a {
          color: #999999;
          text-decoration: none; }
      .list-items ul li p {
        width: 350px;
        line-height: 1.4em; }
      .list-items ul li img {
        float: right; }

/* Pages */
.outer-row.heading {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }

.aside {
  width: 285px;
  margin-right: 30px;
  float: left; }
  .aside.wide {
    width: 675px;
    margin-right: 15px; }

.content {
  width: 615px;
  margin: 0;
  margin-right: 30px;
  padding: 0;
  float: left; }
  .content.narrow {
    width: 270px;
    margin-right: 0; }
  .content p {
    line-height: 1.4em;
    font-size: 0.9em;
    margin: 10px 0; }
  .content h3 {
    margin: 15px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc; }
    .content h3:first-child {
      margin-top: 0; }
  .content table {
    width: 100%;
    padding: 0;
    margin: 0; }
    .content table tr {
      width: 100%; }
      .content table tr:first-child {
        border-bottom: 1px solid white; }
    .content table td {
      padding: 5px;
      font-size: 0.9em;
      background: #f2f2f2; }

iframe {
  background: #f2f2f2;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc; }

.emailform input {
  margin: 0;
  padding: 5px 3px;
  width: 40%;
  margin-bottom: 5px; }
.emailform textarea {
  width: 100%; }

/* Navigation Bar */
#navbar {
  list-style: none;
  position: relative;
  top: 150px;
  left: 350px;
  z-index: 101; }
  #navbar ul li {
    float: left;
    margin-left: 10px;
    padding: 10px;
    font-size: 14px;
    border: 0;
    text-transform: uppercase;
    color: #666666;
    font-family: Helvetica Neue, sans-serif;
    position: relative; }
    #navbar ul li.active {
      z-index: 101;
      padding: 9px;
      background: white;
      border: 1px solid silver; }
      #navbar ul li.active ul {
        display: block; }
        #navbar ul li.active ul li ul {
          display: none; }
    #navbar ul li ul {
      z-index: 100;
      display: none;
      border: 1px solid silver;
      background: white;
      position: absolute;
      top: 30px;
      width: 180px;
      left: -1px; }
      #navbar ul li ul li.section {
        text-transform: none;
        margin-left: 0;
        float: none; }
        #navbar ul li ul li.section.active {
          background: silver; }
          #navbar ul li ul li.section.active a {
            color: white; }
          #navbar ul li ul li.section.active ul li a {
            color: black; }
          #navbar ul li ul li.section.active::after {
            content: ">";
            float: right; }
        #navbar ul li ul li.section ul {
          display: none;
          border: 1px solid silver;
          border-left: none;
          background: #f3f3f3; }
          #navbar ul li ul li.section ul li {
            text-transform: none;
            border-bottom: 1px dotted silver;
            float: none;
            margin-left: 0; }
            #navbar ul li ul li.section ul li:last-child {
              border-bottom: none; }
            #navbar ul li ul li.section ul li:hover {
              background: #8d8d8d; }
              #navbar ul li ul li.section ul li:hover a {
                color: white; }
  #navbar ul a {
    color: #333333;
    text-decoration: none; }
